*{
    z-index:auto;
}
/*
#sidebar-wrapper{
    z-index:auto;
}
.navbar-fixed-top{
    z-index:auto;
}
*/
/* customer listing */
.CusEntry:hover{
    background-color:#ddd;
}
.CustomerDIVSelected{
    background-color: rgb(95,176,211);
    color:white;
}
.CustomerDIVSelected:hover{
    background-color: #66f;
    color:white;
}
.CustomerDIVBarcode{
    cursor:pointer;
}
.CustomerDIVBarcode:hover{
    cursor:pointer;
    color:orange;
}

/* stall listing */
.CanteenStallName:hover{
    color:orange;
    cursor:pointer;
}
/* blacker box */
#blacker{
    padding: 8px;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0, 0.5);
    z-index:100;
}
.BlackerWaitDIV{
    position: fixed;
    left: 50%;
    top: 50%;
    width: 400px;
    height: 100px;
    margin-left: -200px;
    margin-top: -50px;
    background-color: white;
    padding: 5px;
    text-align:center;
    vertical-align:middle;
}
.StallInfoDIV{

    position:fixed;
    left: 50%;
    top: 50%;
    margin-left: -300px;
    margin-top: -260px;
    width: 600px;
    height: 512px;
}
.sidMenuContainer{
    border: solid 1px rgb(182,182,182);
    border-radius:8px;
    padding:8px;
    height: 300px;
    overflow:auto;
}
.sidLabel,.nsdLabel{
    display:inline-block;
    width: 20%;
    text-align:left;
}
.sidInput{
    display:none;
}

.StallMenuDIV{
    border-top:solid 1px ;
    border-color:rgb(182,182,182);
    vertical-align:text-top;
    margin-bottom:3px;
    margin-top:3px;
}

.StallMenuName {
    display:inline-block;
    width: 30%;
}

.StallMenuDesc{
    display:inline-block;
    width: 50%;
}
.StallMenuPrice {
    display:inline-block;
    width: 15%;
}

.NewStallDIV{
/*    padding: 8px;*/
    position:fixed;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -150px;


/*
    z-index: 102;
    background-color:white;
    border-radius:10px;
*/

}
.TopupDIV {
/*    padding: 8px;*/
    position:fixed;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -150px;
/*
    width: 300px;
    height: 100px;
    z-index: 102;
    background-color:white;
*/
}
.topLabel {
    display:inline-block;
    width: 50%;
    text-align:left;
}
.topInput {
    width: 40%;
}
.NewCanteenDIV{
/*    padding: 12px;*/
    position:fixed;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -150px;

/*
    z-index: 102;
    background-color:white;
    border-radius:10px;

*/
}

.NewCanteenForm{
    width:280px;
}

.NewStallForm{
    width:330px;
}



.sidInfoBtnGroup{
    margin:10px;
    float:right;
}
