*{
    z-index: auto;
}
.Home {
text-align: center;
height: 100%;
line-height: 400px;
vertical-align: middle;
color: rgb(114, 99, 99);
font-size: 20pt;
font-weight: bold;
}
.ContentPage {
margin-left:260px;
padding-top:11px;
height: 100%;
}


.sideParent {
    padding-left:20px;
    font-size:18px;
}


.sideChild {
    padding-left:50px
}


.title{
color: #fff;
background-color: #999999;
border-color: #999999;
}


.StallEntry{
    background-color: #eee;
}
.tmp1{
}
.ReportCanContent{
    background-color: #eee;
}

.EntryMonthly,.EntryDaily{
    cursor:pointer;
}

#repStatusMsg{
    margin-top: 40px;
    margin-bottom:40px;
}
.reportSubTable{
    width:100%;
}
