<!DOCTYPE html>
<html lang="en">
<head>
    <title> edit menu item</title>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="css/stylesheet.css"/>
</head>
<body>

<form id="edit-menu-item-form">
<label for="edit-menu-item-name">name </label>
<input name="edit-menu-item-name" id="edit-menu-item-name" type="text" />

<label for="edit-menu-item-price">price</label>
<input name="edit-menu-item-price" id="edit-menu-item-price" type="text" />

<label for="edit-menu-item-description">description</label>
<textarea name="edit-menu-item-description" id="edit-menu-item-description" rows="5" cols="30"></textarea>

<label for="edit-menu-item-picture">picture</label>
<input name="edit-menu-item-picture" id="edit-menu-item-picture" type="file" name="upload">

<label for="edit-menu-item-promotion-type">promotion type</label>
<select name="edit-menu-item-promotion-type" id="edit-menu-item-promotion-type">
	<option value="by percentage">by percentage</option>
	<option value="by value">by value</option>
</select>

<label for="edit-menu-item-valid-from">valid: From </label>
<input name="edit-menu-item-valid-from" id="edit-menu-item-valid-from" type="text" />
<label for="edit-menu-item-valid-to"> To </label>
<input name="edit-menu-item-valid-to" id="edit-menu-item-valid-to" type="text"/>

<input type="submit" value="submit"/>
<input type="reset" value="cancel"/>
</form>




</form>

</body>
</html>

    
