<!DOCTYPE html>
<html lang="en">
<head>
	<title> Order Detail</title>
	<meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="css/stylesheet.css"/>.
</head>

<body>
<div id="wrapper">
<div id="confirm-order">
	<table id="confirm-order-table">
		<tr>
			<th>S/N</th>
			<th>name</th>
			<th>unit price</th>
			<th>quantity</th>
			<th>sub-total</th>
		</tr>
		<tr>
			<td>1</td>
			<td>xxxxxx</td>
			<td>$5.0</td>
			<td>2</td>
			<td>$10</td>
		</tr>
		<tr>
			<td>2</td>
			<td>xxxxxxxxxx</td>
			<td>$3.0</td>
			<td>3</td>
			<td>$9.0</td>
		</tr>
		<tr>
			<td>total</td>
			<td></td>
			<td></td>
			<td></td>
			<td>19.0</td>
		</tr>
	</table>
	<form id="confirm-order-form">
		<input type="submit">
		<input type="reset">
	</form>
</div>
</div>
</body>
</html>