<!DOCTYPE html>
<html lang="en">
<head>
    <title> take order </title>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="css/stylesheet.css"/>
</head>

<body>
<div id="wrapper">
<header>
    <div name="userAdmin" id="userAdmin">
        <p>Welcome</p>
        <p name="usernameDisplay" id="usernameDisplay">user</p>
        <a href="" name="logout" id="logout">logout</a>
    </div>
    <img name="logo" id="logo" href="images/logo.jpg" />    
    <h1> CaMS</h1>
</header>
<nav>
    <ul>
        <li><a href="take-order.html">Take Order</a></li>
        <li><a href="processing-order.html">Processing Order</a></li>
        <li><a href="stall-management.html">Stall management</a></li>
    </ul>
</nav>

<div id="sub-nav">
	<ul>
		<li><a href="stall-info.html"> Stall info </a></li>
		<li><a href="menu-info.html"> Menu info </a></li>
		<li><a href="report.html"> Report </a></li>
	</ul>
</div>

<div id="stall-info">
	<p> name: xxxxxx</p>
	<p> number: xxxxx</p>
	<p> description: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
	<img class="edit-icon" src="images/edit.png"/>
	<br class="clear-float">
	<p> contact info: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
	<img class="edit-icon" src="images/edit.png"/>
	<br class="clear-float">
	<p> stall owner: xxxxxxxxxxx </p>
</div>
	


</div>
</body>
</html>

    
