#wrapper{
    padding-top: 30px;
}

.black-out{
    background-color:rgba(0,0,0,0.7);
    height:100%;
    width:100%;
    position:fixed;
    top:0;
    left:0;
    z-index:100;
}
.alert,.confirm{
    max-width: 500px;
    padding: 15px;
    margin: 0 auto;
    background: white;
    margin-top: 70px;
    overflow: auto;
}




#menu ul,#menu-info-item-display-template 
{
text-decoration: none;
color: #000;
background: #ffb;
display: block;
height: 120px;
width: 200px;
padding: 10px;
border-top: 10px;
top: 5px;
position: relative;
font-size: 20px;
-moz-box-shadow: 5px 5px 7px rgba(33,33,33,1);
-webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
box-shadow: 5px 5px 7px rgba(33,33,33,.7);
margin-right:10px;
}
#menu ul:hover{
    background: #ff5;
}

#menu li{
    margin-left: 20px;
}

.menu-item{
    float:left;
    padding: 10px;
    overflow:hide;

}

.menu-item-name{
    font-size: 18px;
    font: bold;
}

.menu-item-price{
    font-size: 15px;

}

#order-cart{
    position: fixed;
    left: 980px;
    top: 50px;
    width: 400px;
    height: 670px;
    overflow: auto;
    padding-bottom: 70px;
}

.cart-item-name{
    font-size: 18px;
    display:inline; 
    padding-right:1px;

}
.cart-item-price{
    font-size: 15px;
    display:inline;
    float: right;
    padding-right:20px;
}

.cart-item-quantity{
    width: 75px;
}

.cart-item{
    border-bottom:solid;    
    border-width:1px;
    border-bottom-color:grey;
    
}

.minus{
    display:inline;
}

.plus{
    display:inline;
}

.trash{
    display:inline; 
    float:right;
    margin-right: 18px;
}

.cart-button{
    width: 49%
}


#menu{
    width: 950px;
    height: 670px;
    overflow: auto;
}


.processing-order-item
{
    margin: 15px;
    float:left;
    padding: 10px;
    width:22%;
    height: 270px;
    text-decoration: none;
    color: #000;
    background:rgb(213,252,251);
    display: block;

    padding: 10px;
    border-top: 10px;
    top: 5px;
    position: relative;
    font-size: 20px;
    -moz-box-shadow: 5px 5px 7px rgba(33,33,33,1);
    -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    /*-webkit-transform: rotate(-2.5deg);*/
    overflow: auto;


}
.processing-order-item:hover{
    background: rgb(179, 252, 250);
}

.processing-order-details td{
    padding-left:10px;
    padding-right:10px;
}

.processing-order-form{
    position: absolute;
    top:10px;
    right: 10px;

}

#stall-management {
  max-width: 750px;
  padding: 15px;
  margin: 0 auto;
}


/*below original*/
.menu-info-item-display{
    margin:5px;
}
.menu-info-item-edit{
  max-width: 500px;
  padding: 15px;
  margin: 0 auto;
  background: white;
  margin-top: 70px;
  overflow: auto;
}

.menu-info-item-display span{
    display:inline-block;
}
.image-data{
    background-size:contain;
    height:100px;
    width:100px;
    float:left;
    clear:both;
}
.name-data{
    max-width:150px;
}
.price-data{
    min-width:30px;
}
.is_available_online-data{
    float:right;
}
.promotion-data{
    min-width:30px;
}
.promotion_until-data{
    float: right;
}
.description-data{
    margin-top:10px;
}
.menu-info-edit-btn{
    margin-left:120px;
    padding:10px;
}
.line1,.line2{
    border-bottom:2px solid black;
}

.menu-info-item-pic{
    width : 170px;
}
.menu-info-item p{
    word-wrap:break-word;
    word-break:normal; 
}
/*.menu-edit-title{
    display: inline-block;
}
.menu-edit-data{
    max-width: 95%;
    display: inline-block;
}*/
.nofloat{
    float:none;
}


