<!DOCTYPE html>
<html lang="en">
<head>
    <title> take order </title>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="css/stylesheet.css"/>
</head>

<body>
<div id="wrapper">
<header>
    <div name="userAdmin" id="userAdmin">
        <p>Welcome</p>
        <p name="usernameDisplay" id="usernameDisplay">user</p>
        <a href="" name="logout" id="logout">logout</a>
    </div>
    <img name="logo" id="logo" href="images/logo.jpg" />    
    <h1> CaMS</h1>
</header>
<nav>
    <ul>
        <li><a href="take-order.html">Take Order</a></li>
        <li><a href="processing-order.html">Processing Order</a></li>
        <li><a href="stall-management.html">Stall management</a></li>
    </ul>
</nav>

<div id="sub-nav">
	<ul>
		<li><a href="stall-info.html"> Stall info </a></li>
		<li><a href="menu-info.html"> Menu info </a></li>
		<li><a href="report.html"> Report </a></li>
	</ul>
</div>

<div id="menu-info">
	<div class="menu-info-item">
		<img class="delete-icon" src="images/delete.png" >
		<br class="clear-float"/>
		<img class="menu-info-item-pic" src="images/item/order1.jpg"/>
		<p>name: xxxxxx</p>
		<p>price: $xxxx</p>
		<p>description: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
		<p>promotion: xxxxxxxxxxxxxxxxxxxxxxxx</p>
		<img class="edit-icon" src="images/edit.png">
	</div>
	<div class="menu-info-item">
		<img class="delete-icon" src="images/delete.png" >
		<br class="clear-float"/>
		<img class="menu-info-item-pic" src="images/item/order1.jpg"/>
		<p>name: xxxxxx</p>
		<p>price: $xxxx</p>
		<p>description: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
		<p>promotion: xxxxxxxxxxxxxxxxxxxxxxxx</p>
		<img class="edit-icon" src="images/edit.png">
	</div>
	<div class="menu-info-item">
		<img class="delete-icon" src="images/delete.png" >
		<br class="clear-float"/>
		<img class="menu-info-item-pic" src="images/item/order1.jpg"/>
		<p>name: xxxxxx</p>
		<p>price: $xxxx</p>
		<p>description: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
		<p>promotion: xxxxxxxxxxxxxxxxxxxxxxxx</p>
		<img class="edit-icon" src="images/edit.png">
	</div>
	<br class="clear-float">
	
	<div class="menu-info-item">
		<img class="delete-icon" src="images/delete.png" >
		<br class="clear-float"/>
		<img class="menu-info-item-pic" src="images/item/order1.jpg"/>
		<p>name: xxxxxx</p>
		<p>price: $xxxx</p>
		<p>description: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
		<p>promotion: xxxxxxxxxxxxxxxxxxxxxxxx</p>
		<img class="edit-icon" src="images/edit.png">
	</div>
	<div class="menu-info-item">
		<img class="delete-icon" src="images/delete.png" >
		<br class="clear-float"/>
		<img class="menu-info-item-pic" src="images/item/order1.jpg"/>
		<p>name: xxxxxx</p>
		<p>price: $xxxx</p>
		<p>description: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
		<p>promotion: xxxxxxxxxxxxxxxxxxxxxxxx</p>
		<img class="edit-icon" src="images/edit.png">
	</div>
	<div class="menu-info-item">
		<img class="delete-icon" src="images/delete.png" >
		<br class="clear-float"/>
		<img class="menu-info-item-pic" src="images/item/order1.jpg"/>
		<p>name: xxxxxx</p>
		<p>price: $xxxx</p>
		<p>description: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
		<p>promotion: xxxxxxxxxxxxxxxxxxxxxxxx</p>
		<img class="edit-icon" src="images/edit.png">
	</div>
	<br class="clear-float">
	
	<div class="menu-info-item">
		<img class="delete-icon" src="images/delete.png" >
		<br class="clear-float"/>
		<img class="menu-info-item-pic" src="images/item/order1.jpg"/>
		<p>name: xxxxxx</p>
		<p>price: $xxxx</p>
		<p>description: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
		<p>promotion: xxxxxxxxxxxxxxxxxxxxxxxx</p>
		<img class="edit-icon" src="images/edit.png">
	</div>
	<div class="menu-info-item">
		<img class="delete-icon" src="images/delete.png" >
		<br class="clear-float"/>
		<img class="menu-info-item-pic" src="images/item/order1.jpg"/>
		<p>name: xxxxxx</p>
		<p>price: $xxxx</p>
		<p>description: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
		<p>promotion: xxxxxxxxxxxxxxxxxxxxxxxx</p>
		<img class="edit-icon" src="images/edit.png">
	</div>
	<div class="menu-info-item">
		<img class="menu-info-item-pic" src="images/add_big.png">
	</div>
	<br class="clear-float">
	
	

</div>
</div>
</body>
</html>

    
