<!DOCTYPE html>
<html lang="en">
<head>
    <title> take order </title>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="css/stylesheet.css"/>
</head>

<body>
<div id="wrapper">
<header>
    <div name="userAdmin" id="userAdmin">
        <p>Welcome</p>
        <p name="usernameDisplay" id="usernameDisplay">user</p>
        <a href="" name="logout" id="logout">logout</a>
    </div>
    <img name="logo" id="logo" href="images/logo.jpg" />    
    <h1> CaMS</h1>
</header>
<nav>
    <ul>
        <li><a href="take-order.html">Take Order</a></li>
        <li><a href="processing-order.html">Processing Order</a></li>
        <li><a href="stall-management.html">Stall management</a></li>
    </ul>
</nav>

<div id="processing-order-overview">
	<br class="clear-float"/> 
	<div class="processing-order-item">
		<ul>
			<li>student ID: xxxxx </li>
			<li>total item: xxx </li>
		</ul>
	</div>
	<div class="processing-order-item">
		<ul>
			<li>student ID: xxxxx </li>
			<li>total item: xxx </li>
		</ul>
	</div>
	<div class="processing-order-item">
		<ul>
			<li>student ID: xxxxx </li>
			<li>total item: xxx </li>
		</ul>
	</div>
	<br class="clear-float"/>
	<div class="processing-order-item">
		<ul>
			<li>student ID: xxxxx </li>
			<li>total item: xxx </li>
		</ul>
	</div>
	<div class="processing-order-item">
		<ul>
			<li>student ID: xxxxx </li>
			<li>total item: xxx </li>
		</ul>
	</div>
	<div class="processing-order-item">
		<ul>
			<li>student ID: xxxxx </li>
			<li>total item: xxx </li>
		</ul>
	</div>
	<br class="clear-float"/>
	<div class="processing-order-item">
		<ul>
			<li>student ID: xxxxx </li>
			<li>total item: xxx </li>
		</ul>
	</div>
	<div class="processing-order-item">
		<ul>
			<li>student ID: xxxxx </li>
			<li>total item: xxx </li>
		</ul>
	</div>
	<div class="processing-order-item">
		<ul>
			<li>student ID: xxxxx </li>
			<li>total item: xxx </li>
		</ul>
	</div>
	<br class="clear-float"/>
	<div class="processing-order-item">
		<ul>
			<li>student ID: xxxxx </li>
			<li>total item: xxx </li>
		</ul>
	</div>
	<div class="processing-order-item">
		<ul>
			<li>student ID: xxxxx </li>
			<li>total item: xxx </li>
		</ul>
	</div>
	<div class="processing-order-item">
		<ul>
			<li>student ID: xxxxx </li>
			<li>total item: xxx </li>
		</ul>
	</div>
	<br class="clear-float"/>	
</div>
<div id="processing-order-display">
	<h2>Order</h2>
	<p>Customer ID: xxx</p>
	<p>Customer Name: xxx</p>
	<h3>order detail: </h3>
	<table id="processing-order-table">
		<tr>
			<th>S/N</th>
			<th>name</th>
			<th>unit price</th>
			<th>quantity</th>
			<th>sub-total</th>
		</tr>
		<tr>
			<td>1</td>
			<td>xxxxxx</td>
			<td>$5.0</td>
			<td>2</td>
			<td>$10</td>
		</tr>
		<tr>
			<td>2</td>
			<td>xxxxxxxxxx</td>
			<td>$3.0</td>
			<td>3</td>
			<td>$9.0</td>
		</tr>
		<tr>
			<td>total</td>
			<td></td>
			<td></td>
			<td></td>
			<td>19.0</td>
		</tr>
	</table>
	<form id="processing-order-form">
		<input type="submit" value="Done">
		<input type="reset" value="Revoke">
	</form>
</div>


</div>
</body>
</html>

    
